.navbarContainer{
    display: flex;
    align-items: center;
    max-width: 980px;
    margin: 0 auto;
}

.navbar{
    // align-items: center;
    width: 100%;
    .navbar-collapse{
        .navbar-nav{
            width: 100%;
            display: flex;
            justify-content: center;
            .nav-item{
                padding: 0 40px;
            }
        }
    }
}


.container-fluid{
    max-width: 980px;
    display: flex;
    .row{
        text-align: center;
        .col-sm-3{
            width: 100%;
        }
        .col-sm-6{
            width: 100%;
        }
    }
}