$theme-color: white;
$primary-color: rgb(28, 58, 156);
$secondary-color: rgb(219, 160, 32);
$text-color-inverse: white;
$text-color: black;
$navbar-shallow-color: rgb(202, 202, 202);
$menu-mobile-background-color: #2c2c2c;

$switch-theme-color: #1a1a1a;
$switch-primary-color: rgb(71, 101, 199);
$switch-text-color-inverse: black;
$switch-text-color: rgb(230, 230, 230);
